{% extends "layout.html" %}
{% block content %}
    <h1>Disease Similarity</h1>
    <form id="similarityForm" onsubmit=compute_similarity()>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select first disease:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select second disease:</label>
            <select class="form-control" id="exampleFormControlSelect2">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Compute Similarity</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        markActiveNavItem("caleb");

        function compute_similarity() {
            console.log({{ similarity }});
            //const results = document.getElementsByClassName("results");
            //for(let element of results) {
            //    element.style = "display:block";
            //}
            result = document.createElement("p");
            result.innerText = "The similarity between the diseases is " + {{ similarity }};
            parent = document.getElementById("similarityForm");
            parent.append(result);
        }
    </script>
{% endblock %}
