{% extends "layout.html" %}
{% block content %}
    <h1>Analysis of Disease Outbreaks</h1>
    <p>
        This website uses data from <a href="https://www.tycho.pitt.edu/">Project Tycho</a> and several
        data mining algorithms to provide you with results that may be helpful in preventing outbreaks
        of disease. Click on one of the data mining tasks in the navigation bar above to start exploring
        the data.
    </p>
{% endblock %}

{% block scripts %}
    <script>
        markActiveNavItem("home");
    </script>
{% endblock %}
