<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Base styles for our site -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css" media="all"/>

    {# Extension point for any additional styles in child templates #}
    {% block styles %}{% endblock %}

    <title>{% block title %}Data Mining Project{% endblock %}</title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mining</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item home-item">
                <a class="nav-link home-link" href="/">Home</a>
            </li>
            <li class="nav-item aaron-item">
                <a class="nav-link aaron-link" href="/aaron">Aaron</a>
            </li>
            <li class="nav-item bryan-item">
                <a class="nav-link bryan-link" href="/association_rules">Association Rules</a>
            </li>
            <li class="nav-item caleb-item">
                <a class="nav-link caleb-link" href="/similarity">Similarity</a>
            </li>
            <li class="nav-item dragon-item">
                <a class="nav-link dragon-link" href="/dragon">Dragon</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    {# Page specific content, other templates should fill this in #}
    <div id="content">{% block content %}{% endblock %}</div>

</main>

<!-- Base Javascript for our site -->
<script src="/static/common.js"></script>

{# Extension point for any additional JS in child templates #}
{% block scripts %}{% endblock %}

<!-- Bootstrap core Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
