{% extends "layout.html" %}
{% block content %}
    <h2>Disease Similarity</h2>
    <form method="get" action="/similarity_results" onsubmit="return showLoading()">
        <div class="form-group">
            <label for="select1">Select first disease:</label>
            <select class="form-control" id="select1" onchange="setInput1()">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
            <input id="inputDisease1" name="condition1" style="display:none">
        </div>
        <div class="form-group">
            <label for="select2">Select second disease:</label>
            <select class="form-control" id="select2" onchange="setInput2()">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
            <input id="inputDisease2" name="condition2" style="display:none">
        </div>
        <div class="form-group">
            <label for="select2">Select region:</label>
            <select class="form-control" id="selectState" onchange="setState()">
                {% for state in state_names %}
                    <option>{{ state }}</option>
                {% endfor %}
            </select>
            <input id="inputState" name="state" style="display:none">
        </div>
        <div class="form-group">
            <label for="inputStartDate">Date</label>
            <input class="form-control" type="date" value="1888-06-10" id="inputStartDate" name="start_date">
        </div>
        <div class="form-group">
            <label for="inputEndDate">Date</label>
            <input class="form-control" type="date" value="2017-12-31" id="inputEndDate" name="end_date">
        </div>
        <button type="submit" class="btn btn-primary">Compute Similarity</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        markActiveNavItem("caleb");

        function setInput1() {
            const select = document.getElementById("select1");
            const input = document.getElementById("inputDisease1");
            input.value = select[select.selectedIndex].text;
        }

        function setInput2() {
            const select = document.getElementById("select2");
            const input = document.getElementById("inputDisease2");
            input.value = select[select.selectedIndex].text;
        }

        function setState() {
            const select = document.getElementById("selectState");
            const input = document.getElementById("inputState");
            input.value = select[select.selectedIndex].text;
        }

        function showLoading() {
            const buttons = document.getElementsByClassName("btn");
            for (let button of buttons) {
                button.disabled = true;
                button.innerText = "Loading...";
            }
            return true;
        }
        
        setInput1();
        setInput2();
        setState();
    </script>
{% endblock %}
