{% extends "layout.html" %}
{% block content %}
    <h2>Disease Similarity</h2>
    <form method="get" action="/similarity_results" onsubmit="return showLoading()">
        <div class="form-group">
            <label for="select1">Select first disease:</label>
            <select class="form-control" id="select1" onchange="setInput1()">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
            <input id="input1" name="condition1" style="display:none">
        </div>
        <div class="form-group">
            <label for="select2">Select second disease:</label>
            <select class="form-control" id="select2" onchange="setInput2()">
                {% for disease in conditions %}
                    <option>{{ disease }}</option>
                {% endfor %}
            </select>
            <input id="input2" name="condition2" style="display:none">
        </div>
        <button type="submit" class="btn btn-primary">Compute Similarity</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        markActiveNavItem("caleb");

        function setInput1() {
            const select = document.getElementById("select1");
            const input = document.getElementById("input1");
            input.value = select[select.selectedIndex].text;
        }

        function setInput2() {
            const select = document.getElementById("select2");
            const input = document.getElementById("input2");
            input.value = select[select.selectedIndex].text;
        }

        function showLoading() {
            const buttons = document.getElementsByClassName("btn");
            for (let button of buttons) {
                button.disabled = true;
                button.innerText = "Loading...";
            }
            return true;
        }
        
        setInput1();
        setInput2();
    </script>
{% endblock %}
